.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: row;
    margin-top: 62px;
}

.title-coronacheck,.des-coronacheck{
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #030B4E;
}

.des-coronacheck{
    margin-top: 32px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight:300;
    color: #030B4E;
}

.item-search{
    height: 58px;
    width: 50%;
    font-size: 26px;
    padding-left: 18px;
    border-radius: 50px;
    border: none;
    border: 0.2px solid rgb(133, 133, 133);
    color: #030B4E;
}

.item-search:focus{
    outline: none;
}

.btn-search{
    margin-left: 20px;
    width: 150px;
    height: 58px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(33, 33, 33, 0.25);
    background-color: #FF4D15;
}

.btn-search:hover{
    background-color: #eb3b05;
}

.txt-search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Roboto';
    color: white;
}

.title-result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 52px;
    flex-direction: column;
}

.txt-result{
    width: 75%;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    display: block;
}

.layout-card{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    background-color: #F2F6FF;
    width: 75%;
    height: auto;
    order: 3;
    flex-wrap: wrap;
}

.box-card{
    margin: 32px;
    height: 400px;
    width: 320px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px rgba(33, 33, 33, 0.25);
}