.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: row;
}

.search__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__layout {
    width: 70%;
    text-align: center;
}

.search__description {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.description__layout {
    text-align: center;
    margin-top: 16px;
    width: 70%;
}

.description--modifile {
    cursor: pointer;
    text-decoration: underline;
}

.search__layout {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.input-search{
    height: 42px;
    width: 90%;
    font-size: 26px;
    padding-left: 12px;
    border-radius: 8px;
    border: none;
    border: 0.2px solid rgb(133, 133, 133);
    color: #030B4E;
}

.input-search:focus{
    outline: none;
}

.btn-search{
    width: 10%;
    height: 42px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(33, 33, 33, 0.25);
    background-color: #FF4D15;
}

.btn-search:hover{
    background-color: #eb3b05;
}

.txt-search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: 'Roboto';
    color: white;
}

.title-result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.txt-result{
    width: 70%;
    font-family: 'Roboto';
    font-weight: 500;
    display: block;
    text-align: center;
}

.layout-card{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F2F6FF;
    height: auto;
    border-radius: 4px;
    width: 100%;
}

.box-card:first-child {
    margin-top: 36px;
}

.box-card{
    display: flex;
    justify-content: center;
    height: auto;
    width: 20rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px rgba(33, 33, 33, 0.25);
    position: relative;
    padding: 18px;
    margin: 18px;
}

.fillter-card{
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 40px;
    height: 380px;
    width: 320px;
}

.content-result{
    font-family: 'Roboto';
    color: #030B4E;
}

.title-content{
    font-size: 20px;
}

.btn-readmore-search{
    border: none;
    background-color: #FF4D15;
    color: white;
    width: 120px;
    height: 32px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-readmore-search:hover{
    background-color: #eb3b05;
}

.no_result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: #FF4D15;
    font-family: 'Roboto';
}

.txt-time-search{
    margin-top: 8px;
    background-color: rgb(246,195,46);
    border-radius: 4px;
    padding-left:4px;
    padding-right:4px;
}

.txt-title-card-result{
    background-color: rgb(53, 212, 246);
    border-radius: 4px;
    padding-left:4px;
    padding-right:4px;
}

.txt-green{
    background-color: rgb(54, 209, 23);
    border-radius: 4px;
    padding-left:4px;
    padding-right:4px;
}

.txt-red{
    background-color: rgb(234, 51, 35);
    border-radius: 4px;
    padding-left:4px;
    padding-right:4px;
}

@media only screen and (max-width: 768px) {
    .layout__sub-title {
        display: none;
    }

    .search__layout {
        justify-content: space-between;
    }

    .input-search {
        width: 75%;
        font-size: 18px;
    }

    .btn-search {
        width: 22%;
    }
}

@media only screen and (max-width: 425px) {
    .layout__sub-title {
        display: none;
    }

    .input-search {
        width: 100%;
        font-size: 18px;
    }

    .btn-search {
        margin-top: 16px;
        width: 100%;
    }

    .search__layout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}